<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

	<!-- Example bean definition for using index attribute -->
	
<!-- 	<beans>
		<bean id="baseDaoImpl" class="com.codepreplabs.bean.BaseDAOImpl">
			<constructor-arg index="0" value="75"/>
			<constructor-arg index="1" value="He is old"/>
		</bean>
		
	</beans> -->
	
	<!-- Example bean definition for using type attribute -->
	
<!-- 	<beans>
		<bean id="baseDaoImpl" class="com.codepreplabs.bean.BaseDAOImpl">
			<constructor-arg type="int" value="75"/>
			<constructor-arg type="String" value="He is old"/>
		</bean>
	</beans>  -->
	
	<!-- Example bean definition for using name attribute -->

	<beans>
		<bean id="baseDaoImpl" class="com.codepreplabs.bean.BaseDAOImpl">
			<constructor-arg name="years" value="75" />
			<constructor-arg name="answer" value="He is old" />
		</bean>
	</beans>

</beans>
